---
language: java
sudo: required

install: /bin/true

jdk:
 - openjdk7
 - oraclejdk8
 - oraclejdk9

before_install:
 - sudo apt-get install jq
 - wget -O ~/codacy-coverage-reporter-assembly-latest.jar $(curl https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r .assets[0].browser_download_url)

before_script:
 - wget https://services.gradle.org/distributions/gradle-4.4.1-bin.zip
 - unzip gradle-4.4.1-bin.zip
 - export GRADLE_HOME=$PWD/gradle-4.4.1
 - export PATH=$GRADLE_HOME/bin:$PATH

script:
 - gradle build -i -d
 - gradle assemble
 - gradle check -i -d

#    gradle wrapper -i | gradle build -i | gradle assemble -i | gradle check -i | gradle codeCoverageReport -i
#    gradle wrapper | gradle build -i -d | gradle assemble | gradle check -i -d | gradle codeCoverageReport

after_success:
 - java -cp ~/codacy-coverage-reporter-assembly-latest.jar com.codacy.CodacyCoverageReporter -l Java -r build/test-results/jacoco/test/jacocoTestReport.xml

notifications:
  email: false